<div class="plant-life">
  <div class="plant-life__time">
    <div class="plant-life__timeline">
      <span class="plant-life__slider"></span>
    </div>
    <button class="plant-life__calendar">
      <object class="plant-life__calendar-btn" type="image/svg+xml" data="../../../assets/icons/calendar.svg" width="24" height="24">
        <img src="../../../assets/icons/calendar.png" width="24" height="24" alt="" />
      </object>
    </button>
  </div>
  <div class="plant-life__photos">
  </div>
</div>
