@import "../../../styles/abstract/constants";
@import "../../../styles/abstract/mixins";

.plant-life {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  &__photos {
    width: 361px;
    height: 233px;
    border-radius: 40px;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
    background: no-repeat center/100% url("../../../assets/images/main/lollo-rossa.jpg");
  }

  &__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__timeline {
    position: relative;
    height: 18px;
    width: 296px;
    margin-left: 10px;
    background: url("../../../assets/elements/gradient-plant-life.png");
  }

  &__slider {
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    top: -4px;
    background: url("../../../assets/elements/slider-plant-life.png");
  }
}

@media screen and (min-width: $monitor-width) {
  .plant-life {
    &__photos {
      width: 343px;
      height: 285px;
      border-radius: 20px;
    }
  }
}
