@import "../../../styles/abstract/constants";
@import "../../../styles/abstract/mixins";

.chart {
  display: flex;
  justify-content: space-between;
  height: 269px;

  &__controls {
    width: 173px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 30px 0 0;
  }

  &__measurement-buttons {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 10px;
    }
    div {
      display: flex;
      justify-content: space-between;
      button {
        width: 46%;
      }
    }
  }

  &__time-buttons {
    display: flex;
    justify-content: space-between;
    button {
      width: 31%;
    }
  }

  &__button {
    @include margin-text();
  }

  &__btn-link {
    cursor: pointer;
  }
}

app-chart {
  width: 668px;
}

@media screen and (min-width: $monitor-width) {
  .chart {
    height: 330px;

    &__controls {
      width: 215px;
      margin: 0 40px 0;
    }
  }

  app-chart {
    width: 897px;
  }
}
