<div class="chart">
  <app-chart></app-chart>
  <div class="chart__controls">
    <div class="chart__measurement-buttons">
      <button class="chart__button chart__button_air-temperature" (click)="onChangeSensor('airTemperature', '&#176;C')"><a class="chart__btn-link">температура воздуха</a></button>
      <button class="chart__button chart__button_humidity" (click)="onChangeSensor('humidity', '%')"><a class="chart__btn-link">влажность воздуха</a></button>
      <div>
        <button class="chart__button chart__button_ec" (click)="onChangeSensor('ec', 'мСм/см')"><a class="chart__btn-link">EC</a></button>
        <button class="chart__button chart__button_ph" (click)="onChangeSensor('ph', '')"><a class="chart__btn-link">pH</a></button>
      </div>
    </div>
    <div class="chart__time-buttons">
      <button class="chart__button" (click)="onChangeTime(12)"><a class="chart__btn-link">12 ч</a></button>
      <button class="chart__button" (click)="onChangeTime(24)"><a class="chart__btn-link">24 ч</a></button>
      <button class="chart__button" (click)="onChangeTime(48)"><a class="chart__btn-link">48 ч</a></button>
    </div>
  </div>
</div>

