@import "../../styles/abstract/constants";
@import "../../styles/abstract/mixins";

.nav {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 1;
  width: 80px;
  text-align: center;
  border-right: 2px solid $color-lines;
  background-color: $color-white;

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__burger {
    height: 80px;
  }
}

.nav-btn {
  margin-bottom: .54rem;
  width: 40px;
  height: 40px;

  &__main {
    @include nav-btn("../../assets/icons/main.png");
    &_active {
      @include active-nav-btn("../../assets/icons/main-active.png");
    }
  }

  &__profiles {
    @include nav-btn("../../assets/icons/profiles.png");
    &_active {
      @include active-nav-btn("../../assets/icons/profiles-active.png");
    }
  }
}

