<nav class="header__nav nav">
  <object class="nav__burger" type="image/svg+xml" data="../../assets/icons/burger.svg" width="20" height="20">
    <img src="../../assets/icons/burger.png" width="20" height="20" alt="burger menu" />
  </object>
  <ul class="nav__list">
    <li class="nav-btn">
      <a class="nav-btn__main" routerLink="/main" routerLinkActive="nav-btn__main_active"></a>
    </li>
    <li class="nav-btn">
      <a class="nav-btn__profiles" routerLink="/profiles"  routerLinkActive="nav-btn__profiles_active"></a>
    </li>
  </ul>
</nav>
