.nav {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 1;
  width: 80px;
  text-align: center;
  border-right: 2px solid #E5F1E2;
  background-color: #FFFFFF;
}
.nav__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav__burger {
  height: 80px;
}
.nav__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.54rem;
}
.nav__item_chosen {
  border-radius: 15px;
  border: #F2F2F7;
  box-shadow: 0 4px 8px 0 rgba(50, 50, 71, 0.006), 0 4px 4px 0 rgba(50, 50, 71, 0.08);
}

/*# sourceMappingURL=navigation.component.css.map */
