@import "../../../styles/abstract/constants";
@import "../../../styles/abstract/mixins";

.sensors {
  display: grid;
  background: $color-bg-light;
  grid-template-columns: 235px 193px;
  grid-template-rows: repeat(3, 80px);
  grid-template-areas: "air-temperature ph" "water-temperature ec" "water-lvl solution-lvl";
  column-gap: 23px;
  row-gap: 38px;
  padding: 0 22px 14px 21px;

  &__air-temperature {
    grid-area: air-temperature;
  }

  &__ph {
    grid-area: ph;
  }

  &__water-temperature {
    grid-area: water-temperature;
  }

  &__ec {
    grid-area: ec;
  }

  &__water-lvl {
    grid-area: water-lvl;
  }

  &__solution-lvl {
    grid-area: solution-lvl;
  }
}

@media screen and (min-width: $monitor-width) {
  .sensors {
    grid-template-columns: 334px 185px 204px;
    grid-template-rows: repeat(2, 85px);
    grid-template-areas: "air-temperature ph solution-lvl" "water-temperature ec water-lvl";
    column-gap: 38px;
    row-gap: 72px;
    padding: 65px 43px 55px 33px;
  }
}
