<div class="sensors">
  <app-sensor class="sensors__air-temperature" [sensor]="airTemperatureSensor"></app-sensor>
  <app-sensor class="sensors__ph" [sensor]="phSensor"></app-sensor>
  <app-sensor class="sensors__solution-lvl" [sensor]="solutionLvlSensor"></app-sensor>
  <app-sensor class="sensors__water-temperature" [sensor]="waterTemperatureSensor"></app-sensor>
  <app-sensor class="sensors__ec" [sensor]="ecSensor"></app-sensor>
  <app-sensor class="sensors__water-lvl" [sensor]="waterLvlSensor"></app-sensor>
</div>
