@import "../abstract/constants";

html {
  font-size: 8.6px;
  font-family: $font-main;
  overflow-x: hidden;
}

@media screen and (min-width: $monitor-width){
  html {
    font-size: 10px;
  }
}

body {
  font-size: $font-size-main;
  color: $color-font-black;
}

.container {
  margin: 0 auto;
  padding: 0 3rem 0 12rem;
}

.main {
  display: flex;
  flex-direction: column;
}

