@import "../../../styles/abstract/constants";
@import "../../../styles/abstract/mixins";


.plant-profile {
  width: 407px;
  margin-right: 37px;
  position: relative;

  &__info {
    border-radius: 40px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 45px 41px 21px 34px;
  }

  &__conditions {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 180px;
    border-radius: 50%;
    margin: 0 auto;
  }

  &__title {
    font-size: $font-size-h2;
    font-weight: $font-bolder;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.85rem;
    margin: 2rem 0 1.5rem;
    span {
      font-size: $font-size-h3;
      font-weight: $font-regular;
      display: block;
      text-transform: uppercase;
    }

    &_no-subtitle {
      margin-bottom: 3.2rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7rem;
    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0.6rem;
    }
    &:nth-child(5) {
      margin-bottom: 2.1rem;
    }
    &:nth-child(6),
    &:nth-child(7) {
      margin-bottom: 1.2rem;
    }
    &:nth-child(8) {
      margin-bottom: 1.6rem;
    }
  }

  &__param-name {
    @include margin-text($weight: $font-bolder);
    &:first-child {
      width: 186px;
    }
    &:nth-child(3)
    &:nth-child(4) {
      width: 188px;
    }
  }

  &__param-textvalue {
    display: block;
    width: 101px;
    text-align: center;
    &:first-child {
      text-align: right;
    }
  }

  &__param-value {
    font-family: $font-values;
    font-weight: $font-bolder;
  }

  &__range {
    display: flex;
    align-items: center;
  }

  &__range-temp {
    width: 200px;
    &_summer {
      margin-left: auto;
    }
    &_winter {
      margin: 0 auto;
    }
  }

  &__gradient {
    margin: 0 0.7rem;
  }

  &__btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

.btn-hide,
.btn-show {
  &__icon {
    margin-right: 0.8rem;
  }
}
