<div class="plant-profile">

  <div class="plant-profile__info">
    <img [src]="plantProfile.imagePath" alt="" class="plant-profile__img">
    <h2 class="plant-profile__title">{{ plantProfile.plantName }} <span *ngIf="plantProfile.plantSort">сорт {{plantProfile.plantSort}}</span></h2>

    <button class="btn plant-profile__btn plant-profile__btn_show" *ngIf="!expanded" (click)="toggle()">
      <object class="btn-show__icon" type="image/svg+xml" data="../../../assets/icons/arrow-down.svg" width="24" height="24">
        <img src="../../../assets/icons/arrow-down.png" width="24" height="24" alt="" />
      </object>
      <span class="btn-roll-up__text">подробнее</span>
    </button>

    <div class="plant-profile__conditions" *ngIf="expanded">
      <div class="plant-profile__row">
        <span class="plant-profile__param-name">срок выращивания</span>
        <span class="plant-profile__param-textvalue">{{ plantProfile.growingPeriod[0] }} - {{ plantProfile.growingPeriod[1] }} суток</span>
      </div>
      <span class="plant-profile__param-name plant-profile__row">температура воздуха, &#176;C</span>
      <div class="plant-profile__row">
        <div class="plant-profile__range plant-profile__range-temp plant-profile__range-temp_summer">
          <span class="plant-profile__param-value">{{ plantProfile.dayWinterTemperatures[0] }}</span>
          <object class="plant-profile__gradient" type="image/svg+xml" data="../../../assets/elements/gradient-temp-summer.svg" width="82" height="31">
            <img src="../../../assets/elements/gradient-temp-summer.png" width="82" height="31" alt="" />
          </object>
          <span class="plant-profile__param-value">{{ plantProfile.dayWinterTemperatures[1] }}</span>
        </div>
        <span class="plant-profile__param-textvalue">лето, день</span>
      </div>
      <div class="plant-profile__row">
        <div class="plant-profile__range plant-profile__range-temp plant-profile__range-temp_winter">
          <span class="plant-profile__param-value">{{ plantProfile.dayWinterTemperatures[0] }}</span>
          <object class="plant-profile__gradient" type="image/svg+xml" data="../../../assets/elements/gradient-temp-winter.svg" width="63" height="31">
            <img src="../../../assets/elements/gradient-temp-winter.png" width="63" height="31" alt="" />
          </object>
          <span class="plant-profile__param-value">{{ plantProfile.dayWinterTemperatures[1] }}</span>
        </div>
        <span class="plant-profile__param-textvalue">зима, день</span>
      </div>
      <div class="plant-profile__row">
        <div class="plant-profile__range plant-profile__range-temp plant-profile__range-temp_night">
          <span class="plant-profile__param-value">{{ plantProfile.nightTemperatures[0] }}</span>
          <object class="plant-profile__gradient" type="image/svg+xml" data="../../../assets/elements/gradient-temp-night.svg" width="60" height="31">
            <img src="../../../assets/elements/gradient-temp-night.png" width="60" height="31" alt="" />
          </object>
          <span class="plant-profile__param-value">{{ plantProfile.nightTemperatures[1] }}</span>
        </div>
        <span class="plant-profile__param-textvalue">ночь</span>
      </div>
      <div class="plant-profile__row">
        <span class="plant-profile__param-name">влажность воздуха, %</span>
        <div class="plant-profile__range">
          <span class="plant-profile__param-value">{{ plantProfile.humidityRange[0] }}</span>
          <object class="plant-profile__gradient" type="image/svg+xml" data="../../../assets/elements/gradient-humidity.svg" width="63" height="31">
            <img src="../../../assets/elements/gradient-humidity.png" width="63" height="31" alt="" />
          </object>
          <span class="plant-profile__param-value">{{ plantProfile.humidityRange[1] }}</span>
        </div>
      </div>
      <div class="plant-profile__row">
        <span class="plant-profile__param-name">pH</span>
        <div class="plant-profile__range">
          <span class="plant-profile__param-value">{{ plantProfile.phRange[0] }}</span>
          <object class="plant-profile__gradient" type="image/svg+xml" data="../../../assets/elements/gradient-ph.svg" width="63" height="31">
            <img src="../../../assets/elements/gradient-ph.png" width="63" height="31" alt="" />
          </object>
          <span class="plant-profile__param-value">{{ plantProfile.phRange[1] }}</span>
        </div>
      </div>
      <span class="plant-profile__param-name plant-profile__row">EC, мСм/см</span>
    </div>
    <button class="btn plant-profile__btn plant-profile__btn_hide" (click)="toggle()" *ngIf="expanded">
      <object class="btn-hide__icon" type="image/svg+xml" data="../../../assets/icons/arrow-up.svg" width="24" height="24">
        <img src="../../../../assets/icons/arrow-up.png" width="24" height="24" alt="" />
      </object>
      <span class="btn-hide__text">скрыть</span>
    </button>
  </div>
</div>


