@import "../../styles/abstract/constants";
@import "../../styles/abstract/mixins";


.header {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__info {
    @include margin-text;
    display: flex;
    width: 215px;
    justify-content: space-between;
    padding: .75rem .93rem .75rem 1rem;

    span {
      line-height: $line-height-main;
      font-weight: $font-bolder;
      width: 152px;
      text-align: center;
    }

  }

  &__afterline {
    position: absolute;
    left: 0;
    background-color: $color-lines;
    border: none;
    height: 2px;
    margin: 0;
    width: 100vw;
  }
}
