<header class="header">
  <app-navigation></app-navigation>

  <div class="header__content">
    <object class="header__logo" type="image/svg+xml" data="../../assets/logo/logo.svg" width="133" height="48">
      <img src="../../assets/logo/logo.png" width="133" height="48" alt="smartplant" />
    </object>
    <div class="header__info">
      <span>текущая культура</span>
      <object type="image/svg+xml" data="../../assets/icons/info.svg" width="21" height="21">
        <img src="../../assets/icons/info.png" width="139" height="24" alt="info" />
      </object>
    </div>
  </div>
  <hr class="header__afterline">

</header>
