// Colors
$color-font-black: #11263C;
$color-dark-green: #627A5C;
$color-elements-green: #7A9972;
$color-water: #80A7BD;
$color-grey: #F2F2F7;
$color-lines: #E5F1E2;
$color-lines-light: #F6FCF2;
$color-white: #FFFFFF;
$color-bg-light: #FAFEF8;

$font-main: 'Montserrat', sans-serif;
$font-values: 'Poppins', sans-serif;

$font-size-h2: 2.6rem;
$font-size-h3: 1.6rem;
$font-size-main: 1.4rem;
$font-size-smaller: 1.2rem;
$line-height-main: 22px;
$line-height-bigger: 40px;

$font-regular: 400;
$font-bolder: 500;

$mobile-width: 480px;
$tablet-width: 768px;
$monitor-small-width: 991px;
$monitor-width: 1350px;
$monitor-big-width: 1650px;






