@mixin margin-text($color: $color-font-black, $weight: unset, $width: unset) {
  display: inline-block;
  width: $width;
  border: 1px solid $color;
  font-weight: $weight;
  color: $color;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-align: center;
}

@mixin nav-btn($url) {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url($url) no-repeat center;
}

@mixin active-nav-btn($url) {
  border-radius: 15px;
  border: #F2F2F7;
  box-shadow: 0 4px 8px 0 rgba(50,50,71,0.006), 0 4px 4px 0 rgba(50, 50, 71, 0.08);
  background: url($url) no-repeat center;
}

