@import "../../../../styles/abstract/constants";
@import "../../../../styles/abstract/mixins";

.sensor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__circle {
    position: absolute;
    left: 9px;
    top: -17px;
    width: 126px;
    height: 134%;
    border-radius: 50%;
    &_styling {
      z-index: 1;
      background: $color-white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__scale {
    position: absolute;
    height: 78px;
    width: 78px;
    left: 24px;
    top: 20px;
    background: $color-grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-white;
    width: 78%;
    height: 78%;
    border-radius: 50%;
  }

  &__name {
    position: absolute;
    display: inline-flex;
    height: 100%;
    max-width: 130px;
    align-items: center;
    justify-content: right;
    left: 130px;
    margin: 0 auto;
  }

  &_styling {
    box-shadow: unset;
    background: $color-white;
    z-index: 2;
  }
}

@media screen and (min-width: $monitor-width){
  .sensor {
    &__scale {
      height: 82px;
      width: 82px;
    }

    &__name {
      max-width: unset;
    }
  }
}

