<div class="sensor">
  <div class="sensor__circle sensor__circle_styling"></div>
  <div class="sensor sensor_styling">
    <div class="sensor__circle">
      <div class="sensor__scale">
        <span class="sensor__value" [innerHTML]="sensor.value + ' ' + sensor.unit"></span>
      </div>
    </div>
    <span class="sensor__name">{{ sensor.name }}</span>
  </div>
</div>
