@import "../../styles/abstract/constants";
@import "../../styles/abstract/mixins";

.system-state {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.upper {
  display: flex;
  margin-bottom: 37px;
  justify-content: space-between;
}

.lower {
  margin-bottom: 56px;
}


@media screen and (min-width: $monitor-width){
  .system-state {
    margin-top: 48px;
  }
  .lower {
    margin-bottom: 127px;
  }
  .upper {
    margin-bottom: 50px;
  }
}
