<div class="system-state">
  <div class="upper">
    <app-sensors></app-sensors>
    <app-plant-life></app-plant-life>
  </div>

  <div class="lower">
    <app-chart-controls></app-chart-controls>
  </div>
</div>






